/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Global css properties */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Make background image center and cover */
.container-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(45, 45, 45, 0.5), rgba(45, 45, 45, 0.6)), url(images/ingredients-near-pizza.jpg);
    background-position: center;
    background-size: cover;
}

/* Center form fields and add padding for spacing */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

img {
    width: 170px;
    margin-bottom: 40px;
    margin-top: 10px;
}

h1 {
    color: #ff9f43;
    margin-bottom: 20px;
}

p {
    color: #ff9f43;
    margin-left: 10px;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

button {
    width: 300px;;
    padding: 10px;
    margin: 10px;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.input-field i {
    position: absolute;
    padding-left: 18px;
    padding-top: 23px;
    color: #ff9f43;
}

.select-role {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.label-tag {
    color: #ff9f43;
    margin-left: 10px;
}

.input-field input {
    padding-left: 30px;
}

.input-field input:focus {
    outline: none;
    color: #ff9f43;
    background-color: #645c5c;
}

button {
    background-color: #ff9f43;
    color: #2d2d2d;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s;
}

button:hover {
    background-color: #f7b97f;
    color: #2d2d2d;
    border: none;
    cursor: pointer;
}

a {
    color: #ff9f43;
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover {
    text-decoration: underline;
    color: whitesmoke;
}

/* .check-box {
    position: relative;
    display: flex;
    padding-bottom: 20px;
} */

/* .check-box input {
    width: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
} */